body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #58FAF4;
}

.quem-somos{
    background-color: #819FF7;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiro{
    background-color: #58FAF4;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}